@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); */
@font-face {
    font-family: 'hakubo_free_trialregular';
    src: url('fonts/Hakubo/hakubo_free_trial-webfont.woff2') format('woff2'),
         url('fonts/Hakubo/hakubo_free_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'heavitasregular';
    src: url('fonts/Heavitas/heavitas-webfont.woff2') format('woff2'),
         url('fonts/Heavitas/heavitas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-1: #841d40;
    --color-2:#002e55;
}

#logo {
    padding: 0 0 0 15px;
    width: 150px;
    height: 75px; 
}
html {
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #ececec;
}
nav{
  display: flex;
  height: 90px;
  width: 100%;
  background: var(--color-1);;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  
  flex-wrap: wrap;
}
nav .logo{
    color: #fff;
    font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;; 
}
nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  background:var(--color-2);
}
nav .menu-btn i{
    max-width: 100%;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 768px){
  nav{
      max-width: 100%;
    padding: 0;
  }
}
@media (max-width: 480px){
    nav {
        max-width: 100%;
    }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
    #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 70px;
    left: -110%;
    background:rgba(0, 0, 0, 0.95);
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  @media (max-width: 480px){
    #click:checked ~ ul{
        left: -10%;
      }
  }
  @media (max-width: 768px){
    #click:checked ~ ul{
        left: 0%;
      }
  }
  @media (max-width: 1200px){
      #click:checked ~ ul {
        left: 0%;
      }
  }
  .no-margin {
      margin: 20px 0 0 0 !important;
      padding-left: 0 !important;
  }
  
  nav ul li{
    width: 100%;
    margin: 45px 0px;
  }
  nav ul li a{
    width: 90%;
    margin-left: -90%;
    display: block;
    font-size: 20px;
    font-weight: 700;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    padding-right: 0px !important;
  }
  #click:checked ~ ul li a{
    margin: auto;
    padding: auto;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.boton-menu {
    cursor: pointer;
}
.imagen-fondo{
  background-image: url(/img/background-home.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  padding: 20% 20% 5% 5%;
}
.eslogan {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    font-family: 'heavitasregular', sans-serif;
    line-height: 1.6;
}
@media (max-width: 480px){
    .eslogan {
        font-size: 25px;
    }
}
.text__decoration__white {
    color: #fff;
    background: var(--color-2);
    padding: 5px;
    margin: 5px;
}
#caracteristicas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    margin: 3%;
}
@media (max-width: 480px){
    #caracteristicas {
        grid-template-columns: repeat(1, 1fr);
    }
}
.caracteristicas__seccion svg {
    background-color: #002e55;
    border-radius: 50%;
    padding: 15px;
    display: block;
    margin: 15px auto;

    
}
.caracteristicas__seccion h3 {
    font-size: 24px;
    font-weight: bold;
    margin:15px 0 0 0;
    padding: 0;
    text-align: center;
}
.caracteristicas__seccion p {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0 0 0;
    line-height: 1.5;
    padding: 0;
    text-align: center;
}